{{#required}}** [small]#_[red]##required##_#{{/required}}
{{#min}}** [small]#_min:_ `{{min}}`#{{/min}}
{{#max}}** [small]#_max:_ `{{max}}`#{{/max}}
{{#minimum}}** [small]#_minimum:_ `{{minimum}}` ({{#exclusiveMinimum}}exclusive{{/exclusiveMinimum}}{{^exclusiveMinimum}}inclusive{{/exclusiveMinimum}})#{{/minimum}}
{{#maximum}}** [small]#_maximum:_ `{{maximum}}` ({{#exclusiveMaximum}}exclusive{{/exclusiveMaximum}}{{^exclusiveMaximum}}inclusive{{/exclusiveMaximum}})#{{/maximum}}
{{#minLength}}** [small]#_minLength:_ `{{minLength}}`#{{/minLength}}
{{#maxLength}}** [small]#_maxLength:_ `{{maxLength}}`#{{/maxLength}}
{{#minItems}}** [small]#_minItems:_ `{{minItems}}`#{{/minItems}}
{{#maxItems}}** [small]#_maxItems:_ `{{maxItems}}`#{{/maxItems}}
{{#pattern}}** [small]#_pattern:_ `{{{pattern}}}`#{{/pattern}}

