{{#isContainer}}{{baseType}}[{{#isMapContainer}}string, {{/isMapContainer}}{{#items.isPrimitiveType}}{{items.baseType}}{{/items.isPrimitiveType}}{{^items.isPrimitiveType}}<a href="#model-{{items.baseType}}">{{items.baseType}}</a>{{/items.isPrimitiveType}}]{{/isContainer}}{{^isContainer}}{{#isPrimitiveType}}{{baseType}}{{/isPrimitiveType}}{{^isPrimitiveType}}<a href="#model-{{baseType}}">{{baseType}}{{/isPrimitiveType}}</a>{{/isContainer}}