<section class="operations">
{{#apiInfo}}
{{#apis}}
{{#operations}}
<h2 id="api-{{baseName}}">
    {{baseName}}
</h2>

{{#operation}}
{{#vendorExtensions.x-codegen-shouldInclude}}
    <div id="api-{{baseName}}-{{nickname}}" class="api-ref-container">

        <div class="api-ref-item api-ref-left">
            <h3>
                {{{summary}}}{{^summary}}{{vendorExtensions.x-codegen-operationIdAsSentence}}{{/summary}}
                {{#isDeprecated}}<div class="deprecated">Deprecated</div>{{/isDeprecated}}
            </h3>

            <div class="description">
                {{{notes}}}
            </div>
            {{#hasAuthMethods}}
            <h4>Authorization</h4>
            {{#authMethods}}
            <!-- h5>{{type}} ({{name}})</h5 -->
            <div>
                {{#hasScopes}}
                <ul>
                {{#scopes}}
                    <li><span class="op-label monospace">{{scope}}</span>{{#description}} - {{{description}}}{{/description}}</li>
                {{/scopes}}
                </ul>
                {{/hasScopes}}
            {{/authMethods}}
            </div>
            {{/hasAuthMethods}}
            {{#hasParams}}
            <h4>Parameters</h4>
            {{#hasConsumes}}
            <h5>Consumes</h5>
            {{#consumes}}
                <code>{{mediaType}}</code>{{#hasMore}}, {{/hasMore}}
            {{/consumes}}
            {{/hasConsumes}}
            <div>
                <ul class="api-ref-params">
                    {{#allParams}}
                    <li>
                        {{>param}}
                    </li>
                    {{/allParams}}
                </ul>
            </div>
            {{/hasParams}}
            <h4>Responses</h4>
            {{#hasProduces}}
            <h5>Produces</h5>
            {{#produces}}
                <code>{{mediaType}}</code>{{#hasMore}}, {{/hasMore}}
            {{/produces}}
            {{/hasProduces}}
            <div>
                <ul class="api-ref-params">
                    {{#responses}}
                    <li>
                        {{>response}}
                    </li>
                    {{/responses}}
                </ul>
            </div>


        </div>
        <div class="api-ref-item api-ref-right">

            <div class="code-block command">
                <div class="top-bar">
                    <strong>{{httpMethod}}</strong> {{path}}
                </div>
                <pre><code class="source curl lang-bash">curl -X {{vendorExtensions.x-codegen-httpMethodUpperCase}}{{#authMethods}}{{#isApiKey}}{{#isKeyInHeader}} -H "{{keyParamName}}: [[apiKey]]"{{/isKeyInHeader}}{{/isApiKey}}{{#isBasic}}{{#hasProduces}} -H "Accept: {{#produces}}{{{mediaType}}}{{#hasMore}},{{/hasMore}}{{/produces}}"{{/hasProduces}}{{#hasConsumes}} -H "Content-Type: {{#consumes}}{{{mediaType}}}{{#hasMore}},{{/hasMore}}{{/consumes}}"{{/hasConsumes}} -H "Authorization: Basic [[basicHash]]"{{/isBasic}}{{/authMethods}} "{{basePath}}{{path}}{{#hasQueryParams}}?{{#queryParams}}{{^-first}}&{{/-first}}{{baseName}}={{vendorExtensions.x-eg}}{{/queryParams}}{{/hasQueryParams}}"</code></pre>

            </div>

            {{#hasExamples}}
            {{#examples}}
            <div class="code-block">
                <div class="top-bar">
                    Response {{statusCode}} ({{x-codegen-sourceType}})
                </div>
                <pre><code class="{{x-codegen-sourceType}} source lang-{{x-codegen-sourceType}}">{{example}}</code></pre>
            </div>
            {{/examples}}
            {{/hasExamples}}
        </div>
    </div>
    <div class="horizontal-divider"></div>
{{/vendorExtensions.x-codegen-shouldInclude}}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
</section>